:root {
    --background-color: #D5E1EF;
    --title-color: #1F314F;
    --card-background-color: #FFFFFF;
    --paragraph-color: #68778D
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 320px;
    height: 499px;
    background-color: var(--card-background-color);
    border-radius: 20px;
    text-align: center;
}

.card > img {
    width: 90%;
    margin: 16px;
    border-radius: 10px;
}

.text {
    padding: 16px;
    padding-top: 0;
}

.text > h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--title-color);
}

.text > p {
    color: var(--paragraph-color);
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
}
